/* overriding bootstrap override */
/* if together in class then apply this */



.wd-kanbas-navigation.list-group {
    border-radius: 0;
    width: 85px;
    margin-right: 10px;
    margin-bottom: 5px;
}
.wd-kanbas-navigation {
    background-color: black;
    padding: 0px;
    list-style: none;
    width: 100px;
    height: 100vh;
    margin: 0px;
    
}
/* list group item inside course navigation class then apply */
.wd-kanbas-navigation .list-group-item {
  
    color: red;
    text-decoration: none;
    background-color: black;
    border: none;
    font-size: 0.8em;
    text-align: center;
    padding-top: 5px;
   
}

.wd-kanbas-navigation .list-group-item.active  {
    
    color: red;
    background-color: white;
    border-color: white;;
    border: 2px solid white

}


.wd-container {
    width: 200px;
    margin-left: 20px;
}
.wd-account-navigation.list-group {
    border-radius: 0;
}
/* list group item inside course navigation class then apply */
.wd-account-navigation .list-group-item {
    padding-bottom: 15px;
    padding-top: 0;
    color: red;
    text-decoration: none;
    background-color: white;
    border: none;
    padding-left: 8px;
   
}

.wd-account-navigation .list-group-item.active {
    color: black;
    background-color: white;
    border-color: white;;
    border-left: 2px solid black;
    text-align: left;

}

.wd-nav-color.bg-light {
    background-color: white;
}







/* .wd-kanbas-navigation {
    background-color: black;
    padding: 0px;
    list-style: none;
    width: 100px;
    margin: 0px;

    
} */
/* .wd-kanbas-navigation li {
     border-bottom: 1px solid white; 
    font-size: 0.8em;
    text-align: center;
    margin-bottom: 10px;
    padding-top: 5px;
} */
/* under ui under li a  */
/* .wd-kanbas-navigation li a {
    color: white;
    text-decoration: none;
    
} */

/* .wd-kanbas-navigation a i {
    color: red;
    font-size: 1.8em;
    margin-bottom: 5px;
} */

/* within wd.wd-kanbas-navigation that line item that has wd.active */
/* .wd-kanbas-navigation li.wd-active {
    background-color: white;
    margin-bottom: 10px;
} */
/* hyperlink within active -> achor */
/* .wd-kanbas-navigation li.wd-active a {
    color: red;
} */

